body {
  margin: 0;
  font-family: "Noto Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(to right,white,red);
  color: #001f3f;
  padding: 0;
}
a {
  text-decoration: none;
  color: #001f3f;
}
.button {
  /* background: #71ccca; */
  box-shadow: 20px 20px 60px rgb(150, 146, 146), -20px -20px 60px black;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}